.body_backgraung {
    background-color: #28374c;
}
.form_default {
    width: 335px;
    margin: 20px auto;
    box-shadow: 2px 3px 33px 7px rgba(0,0,0,0.75);
}
.globus {
    font-size: 23px;
    color: #ef7431;
    position: absolute;
    top: 50px;
    right: 31%;
    
}
.div_backgraund {
    width: 100%;
    background: url("images/backgraund.jpg") no-repeat bottom center;
    background-size: cover;
    padding: 60px 0 20px;
    position: relative;
}
.h1_default {
    display: block;
    margin: 5px auto;
    font-family: 'Roboto';
    font-weight: 600;
    width: auto;
    text-align: center;
    font-size: 25px;
}
.div_user {
    margin: 14px auto;
    width: 93%;
}

.icon {
    padding: 15px 10px 5px 15px;
    display: inline;
    font-size: 17px;
    color: #fff;
}
.text_Box {
    width: 78%;
    border-style: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding-bottom: 3px;
    outline: none;
    font-size: 15px;
    font-family: 'Roboto'
}
.input_form::placeholder {
    color: #FFF;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.div_user_top {
    margin-top: 35px;
}
.lable_rol {
    display: inline;
    color: #FFF;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 14%;
}
.Uroven_form {
    display: inline;
    margin-left: 10px;
    outline: none;
}
.butt_add {
    display: block;
    margin: 40px auto 10px;
    background-color: #ef7431;
    padding: 10px 25%;
    color: #fff;
    border-style: none;
    border-radius: 18px;
    cursor: pointer;
    font-family: 'Roboto';
}
.div_link_default {
    margin: 10px auto;
    background-color: #ef7431;
    cursor: pointer;
    border-radius: 18px;
    width: 70%;
    padding: 8px 0;
    text-align: center;
}
.link_default {
    display: block;
    text-decoration: none;
    font-family: 'Roboto';
    color: #ffffff;
    background-color: #ef7431;
    margin: 10px auto;
    padding: 10px 26%;
    width: 16%;
    font-size: 13px;
    cursor: pointer;
    border-radius: 18px;
}
.text_Box:focus {
    border-bottom: 1px solid #ef7431;
}
.lable_warning {
    display: block;
    margin: 10px auto 0;
    color: red;
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.body_user {
    margin: 0;
    background: url("images/backgraund.jpg") no-repeat bottom fixed;
    background-size: cover;
    width: 100%;
}
.body_user img{
    width: 100%;
}
.form_users {
    width: 500px;
    margin: 50px auto;
    box-shadow: 2px 3px 33px 7px rgba(0,0,0,0.75);
    padding: 30px 0;
}
.users {
    width: 100%;
}
.div_chek_box {
    width: 200px;
    float: left;
}
.panal_buttom {
    width: 200px;
    float: right;
    text-align: center;
    margin-right: 10px;
    margin-top: 3px;
}
.panal_buttom a {
    width: 100px;
    display: block;
    padding: 5px 8px;
    border-radius: 18px;
    text-decoration: none;
    background-color: #ef7431;
    margin-bottom: 3px;
    float: right;
    font-size: 12px;
    color: #fff;
    font-family: 'Roboto';
    transition: 0.5s;
}
.panal_buttom a:hover {
    background-color: #ffffff;
    color: #ef7431;
}
.boz {
    clear: both;
}
.div_chek_box td {
    display: block;
    margin-bottom: 3px;
    font-family: 'Roboto';
    color: #ffffff;
}
.link_delete {
    display: block;
    width: 200px;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 13px;
    cursor: pointer;
    text-decoration: none;
    margin: 20px auto 5px;
    text-align: center;
    padding: 10px 0;
    background-color: #ef7431;
    border-radius: 18px;
}
.link_Rename {
    display: block;
    margin: 10px auto;
    width: 233px;
    padding: 10px 0;
    background-color: #ef7431;
    font-family: 'Roboto';
    font-size: 13px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 18px;
}
.link_top {
    margin-top: 40px;
}



@-webkit-keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.hvr-buzz-out {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

    .hvr-buzz-out:hover, .hvr-buzz-out:focus, .hvr-buzz-out:active {
        -webkit-animation-name: hvr-buzz-out;
        animation-name: hvr-buzz-out;
        -webkit-animation-duration: 0.75s;
        animation-duration: 0.75s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }




@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
.hvr-pulse-grow {
   
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
